body {
    font: 20px sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

.status {
    margin-bottom: 10px;
}

.square {
    background-color: white;
    border: 1px solid grey;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.selectedItem {
    font-weight: bold;
}

.winner {
    background-color: yellow;
    border: 1px solid grey;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
}

button {
    font-family: inherit;
    font-size: 15px;
}

.game-board {
    min-width: 760px;
    display: flex;
    justify-content: center;
}

.game-info {
    min-width: 230px;
    text-align: center;
    margin-left: 20px;
}